.root {
  width: 300px;
  height: 100%;
  margin: 0px 10px 10px 10px;
  .posterBox {
    width: 300px;
    .posterItems {
      position: relative;
      height: 100vh;
      .movieTitle {
        color: #c3d130;
      }
      .poster_path {
        display: flex;
        .posterImage {
          width: 300px;
        }
      }
      .overview {
        color: #fff;
      }
    }
  }
}

//    {
//     font-weight: bold;
//     font-size: 20px;
//     color: #fff;
//     position: absolute;
//   }
//    {
//     font-weight: bold;
//     font-size: 20px;
//     position: absolute;
//   }
// }
