.root {
  margin-left: 12%;
  a {
    text-decoration: none;
    color: #fff;
  }
  // padding: 0 10% 0 10%;

  .movieTitle {
    font-weight: 100;
    margin: 50px 0 20px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    .linkTitle {
      position: relative;
      display: inline-block;
      text-decoration: none;
      transition: all 0.15s ease;
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #fff;
        transition: all 0.3s ease;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}
.movieList {
  max-width: 1300px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-betwesen;
  flex-wrap: wrap;
}
