.root {
  background-color: hsl(220, 26%, 14%);
  width: 100%;
  .title {
    height: 45px;
    font-weight: bold;
    font-size: 23px;
    color: hsl(0, 0%, 100%);
    padding: 15px 0px 0px 30px;
  }
}
